/* ------  Global Styles ------ */
nav {
    background-color: #d4d0c4;
}

body {
    background-color: #50514f;
}

.jumbotron {
    background-color: #d4d0c4;
}
.btn:hover {
    border-color: black;
}

.hide {
    display: none;
}
