/* ------  Global Styles ------ */
:root {
    --backgroundColor-default: #50514f;
    --backgroundColor-incorrect: #e71d36;
    --backgroundColor-correct: #399e5a;
}
body {
    --backgroundColor: var(--backgroundColor-default);
    background-color: var(--backgroundColor-default);
    background-color: #524948;
}
body.correct {
    background-color: var(--backgroundColor-correct);
}
body.incorrect {
    background-color: var(--backgroundColor-incorrect);
}

.btn:hover {
    border-color: black;
}

.btn.incorrect {
    background-color: var(--backgroundColor-incorrect);
}

.btn.correct {
    background-color: var(--backgroundColor-correct);
    /* background-color: green; */
}

.hide {
    display: none;
}
