/* ------  Global Styles ------ */
:root {
    --backgroundColor-default: #648381;
    --backgroundColor-incorrect: red;
    --backgroundColor-correct: green;
}
body {
    --backgroundColor: var(--backgroundColor-default);
    background-color: var(--backgroundColor-default);
}
body.correct {
    background-color: var(--backgroundColor-correct);
}
body.incorrect {
    background-color: var(--backgroundColor-incorrect);
}

.btn:hover {
    border-color: black;
}

.btn.incorrect {
    background-color: var(--backgroundColor-incorrect);
}

.btn.correct {
    background-color: var(--backgroundColor-correct);
    /* background-color: green; */
}

.hide {
    display: none;
}
